<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMedicoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateMedicoLabel_apellidos}" for="apellidos" />
                    <h:inputText id="apellidos" value="#{medicoController.selected.apellidos}" title="#{bundle.CreateMedicoTitle_apellidos}" />
                    <h:outputLabel value="#{bundle.CreateMedicoLabel_documento}" for="documento" />
                    <h:inputTextarea rows="4" cols="30" id="documento" value="#{medicoController.selected.documento}" title="#{bundle.CreateMedicoTitle_documento}" />
                    <h:outputLabel value="#{bundle.CreateMedicoLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{medicoController.selected.nombre}" title="#{bundle.CreateMedicoTitle_nombre}" />
                    <h:outputLabel value="#{bundle.CreateMedicoLabel_medicoid}" for="medicoid" />
                    <h:inputText id="medicoid" value="#{medicoController.selected.medicoid}" title="#{bundle.CreateMedicoTitle_medicoid}" required="true" requiredMessage="#{bundle.CreateMedicoRequiredMessage_medicoid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{medicoController.create}" value="#{bundle.CreateMedicoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{medicoController.prepareList}" value="#{bundle.CreateMedicoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateMedicoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
