<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMedicoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMedicoLabel_apellidos}"/>
                    <h:outputText value="#{medicoController.selected.apellidos}" title="#{bundle.ViewMedicoTitle_apellidos}"/>
                    <h:outputText value="#{bundle.ViewMedicoLabel_documento}"/>
                    <h:outputText value="#{medicoController.selected.documento}" title="#{bundle.ViewMedicoTitle_documento}"/>
                    <h:outputText value="#{bundle.ViewMedicoLabel_nombre}"/>
                    <h:outputText value="#{medicoController.selected.nombre}" title="#{bundle.ViewMedicoTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewMedicoLabel_medicoid}"/>
                    <h:outputText value="#{medicoController.selected.medicoid}" title="#{bundle.ViewMedicoTitle_medicoid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{medicoController.destroyAndView}" value="#{bundle.ViewMedicoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewMedicoEditLink}"/>
                <br />
                <h:commandLink action="#{medicoController.prepareCreate}" value="#{bundle.ViewMedicoCreateLink}" />
                <br />
                <h:commandLink action="#{medicoController.prepareList}" value="#{bundle.ViewMedicoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewMedicoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
