<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateImcTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateImcLabel_actual}" for="actual" />
                    <h:inputText id="actual" value="#{imcController.selected.actual}" title="#{bundle.CreateImcTitle_actual}" />
                    <h:outputLabel value="#{bundle.CreateImcLabel_diagnostico}" for="diagnostico" />
                    <h:inputText id="diagnostico" value="#{imcController.selected.diagnostico}" title="#{bundle.CreateImcTitle_diagnostico}" />
                    <h:outputLabel value="#{bundle.CreateImcLabel_fechamedicion}" for="fechamedicion" />
                    <h:inputText id="fechamedicion" value="#{imcController.selected.fechamedicion}" title="#{bundle.CreateImcTitle_fechamedicion}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateImcLabel_imc}" for="imc" />
                    <h:inputText id="imc" value="#{imcController.selected.imc}" title="#{bundle.CreateImcTitle_imc}" />
                    <h:outputLabel value="#{bundle.CreateImcLabel_imcid}" for="imcid" />
                    <h:inputText id="imcid" value="#{imcController.selected.imcid}" title="#{bundle.CreateImcTitle_imcid}" required="true" requiredMessage="#{bundle.CreateImcRequiredMessage_imcid}"/>
                    <h:outputLabel value="#{bundle.CreateImcLabel_pacienteid}" for="pacienteid" />
                    <h:selectOneMenu id="pacienteid" value="#{imcController.selected.pacienteid}" title="#{bundle.CreateImcTitle_pacienteid}" >
                        <f:selectItems value="#{pacienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateImcLabel_dietaid}" for="dietaid" />
                    <h:selectOneMenu id="dietaid" value="#{imcController.selected.dietaid}" title="#{bundle.CreateImcTitle_dietaid}" >
                        <f:selectItems value="#{dietaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{imcController.create}" value="#{bundle.CreateImcSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{imcController.prepareList}" value="#{bundle.CreateImcShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateImcIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
