<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListImcTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListImcEmpty}" rendered="#{imcController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{imcController.items.rowCount > 0}">
                    <h:outputText value="#{imcController.pagination.pageFirstItem + 1}..#{imcController.pagination.pageLastItem + 1}/#{imcController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{imcController.previous}" value="#{bundle.Previous} #{imcController.pagination.pageSize}" rendered="#{imcController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{imcController.next}" value="#{bundle.Next} #{imcController.pagination.pageSize}" rendered="#{imcController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{imcController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListImcTitle_actual}"/>
                            </f:facet>
                            <h:outputText value="#{item.actual}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListImcTitle_diagnostico}"/>
                            </f:facet>
                            <h:outputText value="#{item.diagnostico}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListImcTitle_fechamedicion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechamedicion}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListImcTitle_imc}"/>
                            </f:facet>
                            <h:outputText value="#{item.imc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListImcTitle_imcid}"/>
                            </f:facet>
                            <h:outputText value="#{item.imcid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListImcTitle_pacienteid}"/>
                            </f:facet>
                            <h:outputText value="#{item.pacienteid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListImcTitle_dietaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.dietaid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{imcController.prepareView}" value="#{bundle.ListImcViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{imcController.prepareEdit}" value="#{bundle.ListImcEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{imcController.destroy}" value="#{bundle.ListImcDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{imcController.prepareCreate}" value="#{bundle.ListImcCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListImcIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
