<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewImcTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewImcLabel_actual}"/>
                    <h:outputText value="#{imcController.selected.actual}" title="#{bundle.ViewImcTitle_actual}"/>
                    <h:outputText value="#{bundle.ViewImcLabel_diagnostico}"/>
                    <h:outputText value="#{imcController.selected.diagnostico}" title="#{bundle.ViewImcTitle_diagnostico}"/>
                    <h:outputText value="#{bundle.ViewImcLabel_fechamedicion}"/>
                    <h:outputText value="#{imcController.selected.fechamedicion}" title="#{bundle.ViewImcTitle_fechamedicion}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewImcLabel_imc}"/>
                    <h:outputText value="#{imcController.selected.imc}" title="#{bundle.ViewImcTitle_imc}"/>
                    <h:outputText value="#{bundle.ViewImcLabel_imcid}"/>
                    <h:outputText value="#{imcController.selected.imcid}" title="#{bundle.ViewImcTitle_imcid}"/>
                    <h:outputText value="#{bundle.ViewImcLabel_pacienteid}"/>
                    <h:outputText value="#{imcController.selected.pacienteid}" title="#{bundle.ViewImcTitle_pacienteid}"/>
                    <h:outputText value="#{bundle.ViewImcLabel_dietaid}"/>
                    <h:outputText value="#{imcController.selected.dietaid}" title="#{bundle.ViewImcTitle_dietaid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{imcController.destroyAndView}" value="#{bundle.ViewImcDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewImcEditLink}"/>
                <br />
                <h:commandLink action="#{imcController.prepareCreate}" value="#{bundle.ViewImcCreateLink}" />
                <br />
                <h:commandLink action="#{imcController.prepareList}" value="#{bundle.ViewImcShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewImcIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
