<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDietaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDietaLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{dietaController.selected.descripcion}" title="#{bundle.CreateDietaTitle_descripcion}" />
                    <h:outputLabel value="#{bundle.CreateDietaLabel_duraciondias}" for="duraciondias" />
                    <h:inputText id="duraciondias" value="#{dietaController.selected.duraciondias}" title="#{bundle.CreateDietaTitle_duraciondias}" />
                    <h:outputLabel value="#{bundle.CreateDietaLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{dietaController.selected.nombre}" title="#{bundle.CreateDietaTitle_nombre}" />
                    <h:outputLabel value="#{bundle.CreateDietaLabel_dietaid}" for="dietaid" />
                    <h:inputText id="dietaid" value="#{dietaController.selected.dietaid}" title="#{bundle.CreateDietaTitle_dietaid}" required="true" requiredMessage="#{bundle.CreateDietaRequiredMessage_dietaid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{dietaController.create}" value="#{bundle.CreateDietaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{dietaController.prepareList}" value="#{bundle.CreateDietaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDietaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
