<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDietaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDietaEmpty}" rendered="#{dietaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{dietaController.items.rowCount > 0}">
                    <h:outputText value="#{dietaController.pagination.pageFirstItem + 1}..#{dietaController.pagination.pageLastItem + 1}/#{dietaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{dietaController.previous}" value="#{bundle.Previous} #{dietaController.pagination.pageSize}" rendered="#{dietaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{dietaController.next}" value="#{bundle.Next} #{dietaController.pagination.pageSize}" rendered="#{dietaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{dietaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDietaTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDietaTitle_duraciondias}"/>
                            </f:facet>
                            <h:outputText value="#{item.duraciondias}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDietaTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDietaTitle_dietaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.dietaid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{dietaController.prepareView}" value="#{bundle.ListDietaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{dietaController.prepareEdit}" value="#{bundle.ListDietaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{dietaController.destroy}" value="#{bundle.ListDietaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{dietaController.prepareCreate}" value="#{bundle.ListDietaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListDietaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
