<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDietaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDietaLabel_descripcion}"/>
                    <h:outputText value="#{dietaController.selected.descripcion}" title="#{bundle.ViewDietaTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewDietaLabel_duraciondias}"/>
                    <h:outputText value="#{dietaController.selected.duraciondias}" title="#{bundle.ViewDietaTitle_duraciondias}"/>
                    <h:outputText value="#{bundle.ViewDietaLabel_nombre}"/>
                    <h:outputText value="#{dietaController.selected.nombre}" title="#{bundle.ViewDietaTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewDietaLabel_dietaid}"/>
                    <h:outputText value="#{dietaController.selected.dietaid}" title="#{bundle.ViewDietaTitle_dietaid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{dietaController.destroyAndView}" value="#{bundle.ViewDietaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDietaEditLink}"/>
                <br />
                <h:commandLink action="#{dietaController.prepareCreate}" value="#{bundle.ViewDietaCreateLink}" />
                <br />
                <h:commandLink action="#{dietaController.prepareList}" value="#{bundle.ViewDietaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDietaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
