<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAvisoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAvisoLabel_fechaaviso}" for="fechaaviso" />
                    <h:inputText id="fechaaviso" value="#{avisoController.selected.fechaaviso}" title="#{bundle.CreateAvisoTitle_fechaaviso}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateAvisoLabel_mensaje}" for="mensaje" />
                    <h:inputText id="mensaje" value="#{avisoController.selected.mensaje}" title="#{bundle.CreateAvisoTitle_mensaje}" />
                    <h:outputLabel value="#{bundle.CreateAvisoLabel_tipo}" for="tipo" />
                    <h:inputText id="tipo" value="#{avisoController.selected.tipo}" title="#{bundle.CreateAvisoTitle_tipo}" />
                    <h:outputLabel value="#{bundle.CreateAvisoLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{avisoController.selected.titulo}" title="#{bundle.CreateAvisoTitle_titulo}" />
                    <h:outputLabel value="#{bundle.CreateAvisoLabel_avisoid}" for="avisoid" />
                    <h:inputText id="avisoid" value="#{avisoController.selected.avisoid}" title="#{bundle.CreateAvisoTitle_avisoid}" required="true" requiredMessage="#{bundle.CreateAvisoRequiredMessage_avisoid}"/>
                    <h:outputLabel value="#{bundle.CreateAvisoLabel_pacienteid}" for="pacienteid" />
                    <h:selectOneMenu id="pacienteid" value="#{avisoController.selected.pacienteid}" title="#{bundle.CreateAvisoTitle_pacienteid}" >
                        <f:selectItems value="#{pacienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{avisoController.create}" value="#{bundle.CreateAvisoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{avisoController.prepareList}" value="#{bundle.CreateAvisoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAvisoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
