<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAvisoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAvisoLabel_fechaaviso}" for="fechaaviso" />
                    <h:inputText id="fechaaviso" value="#{avisoController.selected.fechaaviso}" title="#{bundle.EditAvisoTitle_fechaaviso}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditAvisoLabel_mensaje}" for="mensaje" />
                    <h:inputText id="mensaje" value="#{avisoController.selected.mensaje}" title="#{bundle.EditAvisoTitle_mensaje}" />
                    <h:outputLabel value="#{bundle.EditAvisoLabel_tipo}" for="tipo" />
                    <h:inputText id="tipo" value="#{avisoController.selected.tipo}" title="#{bundle.EditAvisoTitle_tipo}" />
                    <h:outputLabel value="#{bundle.EditAvisoLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{avisoController.selected.titulo}" title="#{bundle.EditAvisoTitle_titulo}" />
                    <h:outputLabel value="#{bundle.EditAvisoLabel_avisoid}" for="avisoid" />
                    <h:inputText id="avisoid" value="#{avisoController.selected.avisoid}" title="#{bundle.EditAvisoTitle_avisoid}" required="true" requiredMessage="#{bundle.EditAvisoRequiredMessage_avisoid}"/>
                    <h:outputLabel value="#{bundle.EditAvisoLabel_pacienteid}" for="pacienteid" />
                    <h:selectOneMenu id="pacienteid" value="#{avisoController.selected.pacienteid}" title="#{bundle.EditAvisoTitle_pacienteid}" >
                        <f:selectItems value="#{pacienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{avisoController.update}" value="#{bundle.EditAvisoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAvisoViewLink}"/>
                <br />
                <h:commandLink action="#{avisoController.prepareList}" value="#{bundle.EditAvisoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAvisoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
