<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAvisoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAvisoEmpty}" rendered="#{avisoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{avisoController.items.rowCount > 0}">
                    <h:outputText value="#{avisoController.pagination.pageFirstItem + 1}..#{avisoController.pagination.pageLastItem + 1}/#{avisoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{avisoController.previous}" value="#{bundle.Previous} #{avisoController.pagination.pageSize}" rendered="#{avisoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{avisoController.next}" value="#{bundle.Next} #{avisoController.pagination.pageSize}" rendered="#{avisoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{avisoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAvisoTitle_fechaaviso}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaaviso}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAvisoTitle_mensaje}"/>
                            </f:facet>
                            <h:outputText value="#{item.mensaje}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAvisoTitle_tipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAvisoTitle_titulo}"/>
                            </f:facet>
                            <h:outputText value="#{item.titulo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAvisoTitle_avisoid}"/>
                            </f:facet>
                            <h:outputText value="#{item.avisoid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAvisoTitle_pacienteid}"/>
                            </f:facet>
                            <h:outputText value="#{item.pacienteid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{avisoController.prepareView}" value="#{bundle.ListAvisoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{avisoController.prepareEdit}" value="#{bundle.ListAvisoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{avisoController.destroy}" value="#{bundle.ListAvisoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{avisoController.prepareCreate}" value="#{bundle.ListAvisoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAvisoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
