<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAvisoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAvisoLabel_fechaaviso}"/>
                    <h:outputText value="#{avisoController.selected.fechaaviso}" title="#{bundle.ViewAvisoTitle_fechaaviso}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewAvisoLabel_mensaje}"/>
                    <h:outputText value="#{avisoController.selected.mensaje}" title="#{bundle.ViewAvisoTitle_mensaje}"/>
                    <h:outputText value="#{bundle.ViewAvisoLabel_tipo}"/>
                    <h:outputText value="#{avisoController.selected.tipo}" title="#{bundle.ViewAvisoTitle_tipo}"/>
                    <h:outputText value="#{bundle.ViewAvisoLabel_titulo}"/>
                    <h:outputText value="#{avisoController.selected.titulo}" title="#{bundle.ViewAvisoTitle_titulo}"/>
                    <h:outputText value="#{bundle.ViewAvisoLabel_avisoid}"/>
                    <h:outputText value="#{avisoController.selected.avisoid}" title="#{bundle.ViewAvisoTitle_avisoid}"/>
                    <h:outputText value="#{bundle.ViewAvisoLabel_pacienteid}"/>
                    <h:outputText value="#{avisoController.selected.pacienteid}" title="#{bundle.ViewAvisoTitle_pacienteid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{avisoController.destroyAndView}" value="#{bundle.ViewAvisoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAvisoEditLink}"/>
                <br />
                <h:commandLink action="#{avisoController.prepareCreate}" value="#{bundle.ViewAvisoCreateLink}" />
                <br />
                <h:commandLink action="#{avisoController.prepareList}" value="#{bundle.ViewAvisoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAvisoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
