<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePresionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePresionLabel_actual}" for="actual" />
                    <h:inputText id="actual" value="#{presionController.selected.actual}" title="#{bundle.CreatePresionTitle_actual}" />
                    <h:outputLabel value="#{bundle.CreatePresionLabel_dia}" for="dia" />
                    <h:inputText id="dia" value="#{presionController.selected.dia}" title="#{bundle.CreatePresionTitle_dia}" />
                    <h:outputLabel value="#{bundle.CreatePresionLabel_diastolica}" for="diastolica" />
                    <h:inputText id="diastolica" value="#{presionController.selected.diastolica}" title="#{bundle.CreatePresionTitle_diastolica}" />
                    <h:outputLabel value="#{bundle.CreatePresionLabel_fechamedicion}" for="fechamedicion" />
                    <h:inputText id="fechamedicion" value="#{presionController.selected.fechamedicion}" title="#{bundle.CreatePresionTitle_fechamedicion}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreatePresionLabel_sistolica}" for="sistolica" />
                    <h:inputText id="sistolica" value="#{presionController.selected.sistolica}" title="#{bundle.CreatePresionTitle_sistolica}" />
                    <h:outputLabel value="#{bundle.CreatePresionLabel_presionid}" for="presionid" />
                    <h:inputText id="presionid" value="#{presionController.selected.presionid}" title="#{bundle.CreatePresionTitle_presionid}" required="true" requiredMessage="#{bundle.CreatePresionRequiredMessage_presionid}"/>
                    <h:outputLabel value="#{bundle.CreatePresionLabel_pacienteid}" for="pacienteid" />
                    <h:selectOneMenu id="pacienteid" value="#{presionController.selected.pacienteid}" title="#{bundle.CreatePresionTitle_pacienteid}" >
                        <f:selectItems value="#{pacienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{presionController.create}" value="#{bundle.CreatePresionSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{presionController.prepareList}" value="#{bundle.CreatePresionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePresionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
