<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPresionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPresionLabel_actual}" for="actual" />
                    <h:inputText id="actual" value="#{presionController.selected.actual}" title="#{bundle.EditPresionTitle_actual}" />
                    <h:outputLabel value="#{bundle.EditPresionLabel_dia}" for="dia" />
                    <h:inputText id="dia" value="#{presionController.selected.dia}" title="#{bundle.EditPresionTitle_dia}" />
                    <h:outputLabel value="#{bundle.EditPresionLabel_diastolica}" for="diastolica" />
                    <h:inputText id="diastolica" value="#{presionController.selected.diastolica}" title="#{bundle.EditPresionTitle_diastolica}" />
                    <h:outputLabel value="#{bundle.EditPresionLabel_fechamedicion}" for="fechamedicion" />
                    <h:inputText id="fechamedicion" value="#{presionController.selected.fechamedicion}" title="#{bundle.EditPresionTitle_fechamedicion}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditPresionLabel_sistolica}" for="sistolica" />
                    <h:inputText id="sistolica" value="#{presionController.selected.sistolica}" title="#{bundle.EditPresionTitle_sistolica}" />
                    <h:outputLabel value="#{bundle.EditPresionLabel_presionid}" for="presionid" />
                    <h:inputText id="presionid" value="#{presionController.selected.presionid}" title="#{bundle.EditPresionTitle_presionid}" required="true" requiredMessage="#{bundle.EditPresionRequiredMessage_presionid}"/>
                    <h:outputLabel value="#{bundle.EditPresionLabel_pacienteid}" for="pacienteid" />
                    <h:selectOneMenu id="pacienteid" value="#{presionController.selected.pacienteid}" title="#{bundle.EditPresionTitle_pacienteid}" >
                        <f:selectItems value="#{pacienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{presionController.update}" value="#{bundle.EditPresionSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPresionViewLink}"/>
                <br />
                <h:commandLink action="#{presionController.prepareList}" value="#{bundle.EditPresionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPresionIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
