<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPresionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPresionEmpty}" rendered="#{presionController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{presionController.items.rowCount > 0}">
                    <h:outputText value="#{presionController.pagination.pageFirstItem + 1}..#{presionController.pagination.pageLastItem + 1}/#{presionController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{presionController.previous}" value="#{bundle.Previous} #{presionController.pagination.pageSize}" rendered="#{presionController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{presionController.next}" value="#{bundle.Next} #{presionController.pagination.pageSize}" rendered="#{presionController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{presionController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPresionTitle_actual}"/>
                            </f:facet>
                            <h:outputText value="#{item.actual}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPresionTitle_dia}"/>
                            </f:facet>
                            <h:outputText value="#{item.dia}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPresionTitle_diastolica}"/>
                            </f:facet>
                            <h:outputText value="#{item.diastolica}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPresionTitle_fechamedicion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechamedicion}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPresionTitle_sistolica}"/>
                            </f:facet>
                            <h:outputText value="#{item.sistolica}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPresionTitle_presionid}"/>
                            </f:facet>
                            <h:outputText value="#{item.presionid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPresionTitle_pacienteid}"/>
                            </f:facet>
                            <h:outputText value="#{item.pacienteid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{presionController.prepareView}" value="#{bundle.ListPresionViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{presionController.prepareEdit}" value="#{bundle.ListPresionEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{presionController.destroy}" value="#{bundle.ListPresionDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{presionController.prepareCreate}" value="#{bundle.ListPresionCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPresionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
