<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPresionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPresionLabel_actual}"/>
                    <h:outputText value="#{presionController.selected.actual}" title="#{bundle.ViewPresionTitle_actual}"/>
                    <h:outputText value="#{bundle.ViewPresionLabel_dia}"/>
                    <h:outputText value="#{presionController.selected.dia}" title="#{bundle.ViewPresionTitle_dia}"/>
                    <h:outputText value="#{bundle.ViewPresionLabel_diastolica}"/>
                    <h:outputText value="#{presionController.selected.diastolica}" title="#{bundle.ViewPresionTitle_diastolica}"/>
                    <h:outputText value="#{bundle.ViewPresionLabel_fechamedicion}"/>
                    <h:outputText value="#{presionController.selected.fechamedicion}" title="#{bundle.ViewPresionTitle_fechamedicion}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPresionLabel_sistolica}"/>
                    <h:outputText value="#{presionController.selected.sistolica}" title="#{bundle.ViewPresionTitle_sistolica}"/>
                    <h:outputText value="#{bundle.ViewPresionLabel_presionid}"/>
                    <h:outputText value="#{presionController.selected.presionid}" title="#{bundle.ViewPresionTitle_presionid}"/>
                    <h:outputText value="#{bundle.ViewPresionLabel_pacienteid}"/>
                    <h:outputText value="#{presionController.selected.pacienteid}" title="#{bundle.ViewPresionTitle_pacienteid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{presionController.destroyAndView}" value="#{bundle.ViewPresionDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPresionEditLink}"/>
                <br />
                <h:commandLink action="#{presionController.prepareCreate}" value="#{bundle.ViewPresionCreateLink}" />
                <br />
                <h:commandLink action="#{presionController.prepareList}" value="#{bundle.ViewPresionShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPresionIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
