<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPacienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPacienteLabel_apellidos}" for="apellidos" />
                    <h:inputText id="apellidos" value="#{pacienteController.selected.apellidos}" title="#{bundle.EditPacienteTitle_apellidos}" />
                    <h:outputLabel value="#{bundle.EditPacienteLabel_estaturaactualcms}" for="estaturaactualcms" />
                    <h:inputText id="estaturaactualcms" value="#{pacienteController.selected.estaturaactualcms}" title="#{bundle.EditPacienteTitle_estaturaactualcms}" />
                    <h:outputLabel value="#{bundle.EditPacienteLabel_fechanacimiento}" for="fechanacimiento" />
                    <h:inputText id="fechanacimiento" value="#{pacienteController.selected.fechanacimiento}" title="#{bundle.EditPacienteTitle_fechanacimiento}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditPacienteLabel_genero}" for="genero" />
                    <h:inputText id="genero" value="#{pacienteController.selected.genero}" title="#{bundle.EditPacienteTitle_genero}" />
                    <h:outputLabel value="#{bundle.EditPacienteLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{pacienteController.selected.nombre}" title="#{bundle.EditPacienteTitle_nombre}" />
                    <h:outputLabel value="#{bundle.EditPacienteLabel_numerodocumento}" for="numerodocumento" />
                    <h:inputTextarea rows="4" cols="30" id="numerodocumento" value="#{pacienteController.selected.numerodocumento}" title="#{bundle.EditPacienteTitle_numerodocumento}" />
                    <h:outputLabel value="#{bundle.EditPacienteLabel_tipodocumento}" for="tipodocumento" />
                    <h:inputText id="tipodocumento" value="#{pacienteController.selected.tipodocumento}" title="#{bundle.EditPacienteTitle_tipodocumento}" />
                    <h:outputLabel value="#{bundle.EditPacienteLabel_pacienteid}" for="pacienteid" />
                    <h:inputText id="pacienteid" value="#{pacienteController.selected.pacienteid}" title="#{bundle.EditPacienteTitle_pacienteid}" required="true" requiredMessage="#{bundle.EditPacienteRequiredMessage_pacienteid}"/>
                    <h:outputLabel value="#{bundle.EditPacienteLabel_medicoid}" for="medicoid" />
                    <h:selectOneMenu id="medicoid" value="#{pacienteController.selected.medicoid}" title="#{bundle.EditPacienteTitle_medicoid}" >
                        <f:selectItems value="#{medicoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{pacienteController.update}" value="#{bundle.EditPacienteSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPacienteViewLink}"/>
                <br />
                <h:commandLink action="#{pacienteController.prepareList}" value="#{bundle.EditPacienteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPacienteIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
