<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPacienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPacienteLabel_apellidos}"/>
                    <h:outputText value="#{pacienteController.selected.apellidos}" title="#{bundle.ViewPacienteTitle_apellidos}"/>
                    <h:outputText value="#{bundle.ViewPacienteLabel_estaturaactualcms}"/>
                    <h:outputText value="#{pacienteController.selected.estaturaactualcms}" title="#{bundle.ViewPacienteTitle_estaturaactualcms}"/>
                    <h:outputText value="#{bundle.ViewPacienteLabel_fechanacimiento}"/>
                    <h:outputText value="#{pacienteController.selected.fechanacimiento}" title="#{bundle.ViewPacienteTitle_fechanacimiento}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPacienteLabel_genero}"/>
                    <h:outputText value="#{pacienteController.selected.genero}" title="#{bundle.ViewPacienteTitle_genero}"/>
                    <h:outputText value="#{bundle.ViewPacienteLabel_nombre}"/>
                    <h:outputText value="#{pacienteController.selected.nombre}" title="#{bundle.ViewPacienteTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewPacienteLabel_numerodocumento}"/>
                    <h:outputText value="#{pacienteController.selected.numerodocumento}" title="#{bundle.ViewPacienteTitle_numerodocumento}"/>
                    <h:outputText value="#{bundle.ViewPacienteLabel_tipodocumento}"/>
                    <h:outputText value="#{pacienteController.selected.tipodocumento}" title="#{bundle.ViewPacienteTitle_tipodocumento}"/>
                    <h:outputText value="#{bundle.ViewPacienteLabel_pacienteid}"/>
                    <h:outputText value="#{pacienteController.selected.pacienteid}" title="#{bundle.ViewPacienteTitle_pacienteid}"/>
                    <h:outputText value="#{bundle.ViewPacienteLabel_medicoid}"/>
                    <h:outputText value="#{pacienteController.selected.medicoid}" title="#{bundle.ViewPacienteTitle_medicoid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pacienteController.destroyAndView}" value="#{bundle.ViewPacienteDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPacienteEditLink}"/>
                <br />
                <h:commandLink action="#{pacienteController.prepareCreate}" value="#{bundle.ViewPacienteCreateLink}" />
                <br />
                <h:commandLink action="#{pacienteController.prepareList}" value="#{bundle.ViewPacienteShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPacienteIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
