<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="/aviso/List" value="Show All Aviso Items"/>
        <br />
        <h:link outcome="/dieta/List" value="Show All Dieta Items"/>
        <br />
        <h:link outcome="/imc/List" value="Show All Imc Items"/>
        <br />
        <h:link outcome="/medico/List" value="Show All Medico Items"/>
        <br />
        <h:link outcome="/paciente/List" value="Show All Paciente Items"/>
        <br />
        <h:link outcome="/presion/List" value="Show All Presion Items"/>
    </h:body>






</html>

