<!--
    	Document	: index
    	Created on	: 14-jul-2011
    	Author		: Juan Sebastián Urrego E.
    -->
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
        <h:body>
    		<center>
    			<h1>Teleconsulta - Control de Acceso</h1>
    			<h2>Por favor, ingrese su login y su contraseña</h2>
    			<form action="j_security_check" method="POST">
     
    				Login
    				<input type="text" name="j_username" />
    				Contrasena
    				<input type="password" name="j_password" />
    				<input type="submit" value="Ingresar" action="administrador" />
                              
    			</form>
    		</center>
        </h:body>
    </html>